form {
    /* display: grid; */
    text-align: left;
}

input, select, textarea {
    border: solid 1px #e9e9e7;
    padding: 8px;
    border-radius: 3px;
    color: rgb(55, 53, 47);
}

label {
    text-transform: capitalize;
}