form {
    /* display: grid; */
    text-align: left;
}

input, select, textarea {
    border: solid 1px #e9e9e7;
    padding: 8px;
    border-radius: 3px;
    color: rgb(55, 53, 47);
}

input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 2px #37352f;
}

label {
    text-transform: capitalize;
}