@import './base.css';
@import './margins-paddings.css';
@import './buttons.css';
@import './forms.css';
@import './tables.css';

#app {
  font-weight: normal;
  /* background-color: #fff; */
  color: #19171199;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}


a {
  text-decoration: none;
  color: #19171199;
  font-weight: 500;
}

.router-link-active, 
.router-link-exact-active 
.headings {
  color: #37352f;
}
.router-link-active, .router-link-exact-active {
  background-color: rgba(0, 0, 0, 0.04);
}


.hide {
  display: none;
}


.flex {
  display: flex;
}
.flex-btn {
  display: flex;
  gap: 8px;
}


.pointer {
  cursor: pointer;
}




/* ********************* */
/* setting style */
.setting-labels {
  font-size: 36px;
  text-transform: capitalize;
  font-weight: 500;
  color: rgb(55, 53, 47) !important;
  margin-bottom: 16px;
}
.setting-grid {
  display: grid;
  grid-template-columns: 150px auto;
}
.setting-list {
  margin-top: 64px;
  overflow: auto;
}

.flex-setting {
  width: 100%;
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding-left: 32px;
  padding-right: 32px;
}
.setting-list {
  overflow: auto;
}
.flex-setting input,
.flex-setting select {
  max-width: 250px !important;
}
/* ********************* */




::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #D3D1CB;
}

::-webkit-scrollbar-track {
  background: #EDECE9;
}

@media screen and (max-width: 768px) {
  .setting-grid {
    display: flex;
    flex-direction: column;
  }
  .setting-grid input {
    width: 100% !important;
  }
}